body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    @media screen and (max-width:375px) {
        display: grid;
        grid-auto-rows: 165px;
        /* grid-template-columns:  */
        height:100vh;
        background: #4e35f2d3;
        color: #f0d43a;
        justify-content: center;
        grid-gap: 0.05em;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    @media screen and (min-width:375px) and (max-width:389) {
        /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
        display: grid;
        grid-auto-rows:  100px;
        /* grid-template-columns:  */
        height:115vh;
        background: #4e35f2d3;
        color: #f0d43a;
        justify-content: center;
        grid-gap: 0.1em;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    @media screen and (min-width:390px) and (max-width:640px) {
        /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
        display: grid;
        grid-auto-rows: 200px;
        /* grid-template-columns:  */
        height:100vh;
        background: #4e35f2d3;
        color: #f0d43a;
        justify-content: center;
        grid-gap: 0.1em;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    display: grid;
    grid-auto-rows: minmax(120px, 240px);
    /* grid-template-columns:  */
    height:100vh;
    background: #4e35f2d3;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 0.1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    // background: rgba(59, 74, 107, .4);
    // width: 200px;
    // height: 100px;
}

.entry{
    // background: rgba(59, 74, 107, .4);
}

#entryHolder{
    @media screen and (min-width:320px) and (max-width:375px) {
        background: rgba(59, 74, 107, .4);
        height: 130px;
        width: 320px;
    }
    @media screen and (min-width:376px) and (max-width:640px) {
        background: rgba(59, 74, 107, .4);
        height: 220px;
        width: 320px;
    }
    background: rgba(59, 74, 107, .4);
    height: 220px;
    width: 320px;
}

#date{

}

#temp{

}

#content{

}

.headline {
    font-size: 80px;
}
.title{
    
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 40px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}
input:hover{
    background:#41bcde;
}

#submitButton{
    width: 100px;
    height: 40px;
    background: #2775e9;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
#submitButton:hover{
    background: #3b4a6b;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 